:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --input-hover: white;
  --text-color: rgba(255, 255, 255, 0.87);
  --bgc: #242424;
  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bgc);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/* Custom CSS so far */
.module {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
}
.form-content {

}
.header {
  display: flex;
  min-width: 320px;
  border-bottom: 5px white solid;
  box-shadow: 0px 0px 5px -5px  white;
}

nav {
  display: flex;
  gap: 30px;
  margin-left: auto;
  padding: 10px;
  align-items: flex-end;
}
section{
  display: flex;
  gap: 50px;
}
fieldset {
 
  border: 1px var(--text-color) solid;
  max-width: 800px;
  
}

input, label {
  display: block;
  
}
label {
  font-size: .7em;
}
.name-input{
  display: flex;
  gap: 50px;
}
input, select, textarea {
 margin-bottom: 20px;
 border-radius: 5px;
 transition: border-color 0.2s;
 
}
input:hover, textarea:hover, select:hover{
  border-color: var(--text-color);
  border: 2px solid ;
}
#gradYear {
  width: 30px;
}
.school {
  display: flex;
  gap: 50px;
}
.exp {
  display: flex;
  gap: 50px;
}
/* End */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  border-bottom: solid 1px var(--text-color)
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--text-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
